In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
pd.set_option('max_colwidth', 800)

In [2]:
results = [file for file in os.listdir('../Data') if 'result' in file]
df_list = []
for result in results:
    df = pd.read_csv('../Data/'+result,na_values=0)
    df['train_type'] = 'base' if 'base' in result else ('start' if 'start' in result else ('2stage' if '2stage' in result else 'org'))
    df['file_name'] = result
    df_list.append(df)
df = pd.concat(df_list,ignore_index=True)#.fillna(1e4)

/home/will/anaconda3/envs/pytorch/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [29]:
best_score = df[['val_type_'+str(i) for i in range(8)]].min()
best_score

val_type_0   -1.003048
val_type_1   -1.587212
val_type_2   -2.075219
val_type_3   -2.710183
val_type_4   -2.567998
val_type_5   -1.737660
val_type_6   -2.415497
val_type_7   -2.746075
dtype: float64

In [23]:
temp_index = np.nanargmin(df[['val_type_'+str(i) for i in range(8)]].values,0)

In [24]:
df.loc[temp_index,['val_type_'+str(i) for i in range(8)]+['file_name']]

,val_type_0,val_type_1,val_type_2,val_type_3,val_type_4,val_type_5,val_type_6,val_type_7,file_name
1983,-1.003048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,results_False_<class 'functions_refactor.NNConv_block'>_<class 'functions_refactor.SimpleHead_type'>__data_ACSF_expand_PCA.pickle_32_256_2_2_2_2_50_type_0_start.csv
1777,-0.726933,-1.587212,-1.694236,-2.566023,-2.546322,-1.488250,-2.380541,-2.730058,results__class 'functions_refactor.feedforwardHead_Update'___data_SOAP_expand_PCA_otherInfo.pickle_512_True_2.6570633338233756_3_5_2.csv
1396,NaN,NaN,-2.075219,NaN,NaN,NaN,NaN,NaN,results_False_<class 'functions_refactor.schnet_block'>_<class 'functions_refactor.cat3Head_type'>__data_atomInfo.pickle_32_512_2_3_2_3_50_type_2_start.csv
2122,NaN,NaN,NaN,-2.710183,NaN,NaN,NaN,NaN,results_False_<class 'functions_refactor.NNConv_block'>_<class 'functions_refactor.SimpleHead_type'>__data_ACSF_expand_PCA.pickle_32_256_2_2_2_2_50_type_3_start.csv
457,-0.674578,-1.038986,-1.590237,-2.485670,-2.567998,-1.339575,-2.360251,-2.661229,results_False_<class 'functions_refactor.MEGNet_block'>_<class 'functions_refactor.feedforwardHead_Update'>__data_ACSF_expand_PCA.pickle_32_128_0.4_3_3_2_20_base.csv
1281,NaN,NaN,NaN,NaN,NaN,-1.737660,NaN,NaN,results_False_<class 'functions_refactor.schnet_block'>_<class 'functions_refactor.cat3Head_type'>__data_atomInfo.pickle_32_512_2_3_2_3_50_type_5_start.csv
866,-0.632546,-1.083113,-1.583385,-2.287360,-2.501237,-1.317439,-2.415497,-2.619483,results__class 'functions_refactor.feedforwardHead_Update'___data_atomInfo_otherInfo.pickle_128_True_0.08350674679949754_3_5_3.csv
1776,-0.360855,-1.274101,-1.672865,-2.352227,-2.500258,-1.477401,-2.351281,-2.746075,results__class 'functions_refactor.feedforwardHead_Update'___data_SOAP_expand_PCA_otherInfo.pickle_512_True_2.6570633338233756_3_5_2.csv

In [27]:
def get_bestScore_forTypes(df,file_name):
    df_temp = df.loc[df.file_name.str.contains(file_name)]
    return df_temp[['val_type_'+str(i) for i in range(8)]].min()

In [30]:
best_score_model_i = get_bestScore_forTypes(df,"functions_refactor.feedforwardHead_Update'___data_SOAP_expand_PCA_otherInfo.pickle_512_True_2.6570633338233756_3_5_2")

In [34]:
pd.concat([best_score_model_i,best_score,best_score_model_i-best_score>0.2],1)

                   0         1      2
val_type_0 -0.726933 -1.003048   True
val_type_1 -1.587212 -1.587212  False
val_type_2 -1.694236 -2.075219   True
val_type_3 -2.566023 -2.710183  False
val_type_4 -2.546322 -2.567998  False
val_type_5 -1.488250 -1.737660   True
val_type_6 -2.380541 -2.415497  False
val_type_7 -2.746075 -2.746075  False

In [35]:
best_score_model_i = get_bestScore_forTypes(df,"False_<class 'functions_refactor.NNConv_block'>_<class 'functions_refactor.SimpleHead_type'>__data_ACSF_expand_PCA.pickle_32_256_2_2_2_2_50")

In [36]:
pd.concat([best_score_model_i,best_score,best_score_model_i-best_score>0.2],1)

                   0         1      2
val_type_0 -1.003048 -1.003048  False
val_type_1 -1.452800 -1.587212  False
val_type_2 -2.021929 -2.075219  False
val_type_3 -2.710183 -2.710183  False
val_type_4 -2.510066 -2.567998  False
val_type_5 -1.474216 -1.737660   True
val_type_6 -1.825712 -2.415497   True
val_type_7 -2.636108 -2.746075  False