In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
pd.set_option('max_colwidth', 800)

In [3]:
results = [file for file in os.listdir('../Data') if 'result' in file]
df_list = []
for result in results:
    df = pd.read_csv('../Data/'+result,na_values=0)
    df['train_type'] = 'base' if 'base' in result else ('start' if 'start' in result else ('2stage' if '2stage' in result else 'org'))
    df['file_name'] = result
    df_list.append(df)
df = pd.concat(df_list,ignore_index=True)#.fillna(1e4)

/home/will/anaconda3/envs/pytorch/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [4]:
best_score = df[['val_type_'+str(i) for i in range(8)]].min()
print(best_score.mean())
best_score

-2.195765964652731

val_type_0   -1.202379
val_type_1   -1.672538
val_type_2   -2.075219
val_type_3   -2.797210
val_type_4   -2.653469
val_type_5   -1.815802
val_type_6   -2.564009
val_type_7   -2.785501
dtype: float64

In [5]:
temp_index = np.nanargmin(df[['val_type_'+str(i) for i in range(8)]].values,0)

In [6]:
df.loc[temp_index,['val_type_'+str(i) for i in range(8)]+['file_name']]

,val_type_0,val_type_1,val_type_2,val_type_3,val_type_4,val_type_5,val_type_6,val_type_7,file_name
3118,-1.202379,-1.619953,-1.970014,-2.648582,-2.595392,-1.788734,-2.494419,-2.735663,results_<class 'functions_refactor.feedforwardHead_Update'>__data_ACSF_SOAP_atomInfo_otherInfo.pickle_512_False_0.05728081182381506_4_3_2_max_False.csv
1486,-1.067051,-1.672538,-1.806302,-2.337205,-2.539604,-1.614894,-2.430814,-2.608547,results_<class 'functions_refactor.feedforwardHead_Update'>__data_SOAP_expand_PCA_otherInfo.pickle_256_False_0.31313746436878365_4_5_4.csv
2946,NaN,NaN,-2.075219,NaN,NaN,NaN,NaN,NaN,results_False_<class 'functions_refactor.schnet_block'>_<class 'functions_refactor.cat3Head_type'>__data_atomInfo.pickle_32_512_2_3_2_3_50_type_2_start.csv
4437,NaN,NaN,NaN,-2.797210,NaN,NaN,NaN,NaN,results_False_<class 'functions_refactor.NNConv_block'>_<class 'functions_refactor.swapHead_type'>__data_ACSF_expand_PCA.pickle_32_256_2_2_3_2_50_type_3_start.csv
3121,-0.889290,-1.537785,-1.973330,-2.779690,-2.653469,-1.796024,-2.564009,-2.749593,results_<class 'functions_refactor.feedforwardHead_Update'>__data_ACSF_SOAP_atomInfo_otherInfo.pickle_512_False_0.05728081182381506_4_3_2_max_False.csv
3122,-1.054119,-1.564578,-1.992818,-2.717267,-2.651658,-1.815802,-2.561900,-2.762567,results_<class 'functions_refactor.feedforwardHead_Update'>__data_ACSF_SOAP_atomInfo_otherInfo.pickle_512_False_0.05728081182381506_4_3_2_max_False.csv
3121,-0.889290,-1.537785,-1.973330,-2.779690,-2.653469,-1.796024,-2.564009,-2.749593,results_<class 'functions_refactor.feedforwardHead_Update'>__data_ACSF_SOAP_atomInfo_otherInfo.pickle_512_False_0.05728081182381506_4_3_2_max_False.csv
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.785501,results_False_<class 'functions_refactor.schnet_block'>_<class 'functions_refactor.swapHead_type'>__data_ACSF_SOAP_atomInfo.pickle_512_3_3_2_max_True.csv

In [7]:
def get_bestScore_forTypes(df,file_name):
    df_temp = df.loc[df.file_name.str.contains(file_name)]
    return df_temp[['val_type_'+str(i) for i in range(8)]].min()

In [12]:
best_score_model_i = get_bestScore_forTypes(df,"results_False_<class 'functions_refactor.schnet_block'>_<class 'functions_refactor.cat3Head_type'>__data_atomInfo.pickle_32_512_2_3_2_3_50")

In [13]:
pd.concat([best_score_model_i,best_score,best_score_model_i-best_score>0.2],1)

                   0         1      2
val_type_0 -0.476288 -1.090057   True
val_type_1 -1.505876 -1.672538  False
val_type_2 -2.075219 -2.075219  False
val_type_3       NaN -2.797210  False
val_type_4 -2.555311 -2.595610  False
val_type_5 -1.737660 -1.737660  False
val_type_6       NaN -2.480275  False
val_type_7 -2.725970 -2.785501  False

In [35]:
best_score_model_i = get_bestScore_forTypes(df,"False_<class 'functions_refactor.NNConv_block'>_<class 'functions_refactor.SimpleHead_type'>__data_ACSF_expand_PCA.pickle_32_256_2_2_2_2_50")

In [36]:
pd.concat([best_score_model_i,best_score,best_score_model_i-best_score>0.2],1)

                   0         1      2
val_type_0 -1.003048 -1.003048  False
val_type_1 -1.452800 -1.587212  False
val_type_2 -2.021929 -2.075219  False
val_type_3 -2.710183 -2.710183  False
val_type_4 -2.510066 -2.567998  False
val_type_5 -1.474216 -1.737660   True
val_type_6 -1.825712 -2.415497   True
val_type_7 -2.636108 -2.746075  False