In [1]:
import pandas as pd
import numpy as np
import pickle
import copy

In [14]:
# change this to aviod conflict name
stacking = 'stacking_-2.725'

In [3]:
# this file should be in submission file format
# change this to the stacking result you want to use
label = pd.read_csv('../Data/stacking_-2.6483245538120763.csv')

In [2]:
train = pd.read_csv('../Data/train.csv')
test = pd.read_csv('../Data/test.csv')

In [6]:
label.head()

        id  scalar_coupling_constant
0  4658147                 17.610228
1  4658148                183.309125
2  4658149                  3.024610
3  4658150                183.307714
4  4658151                 17.610025

In [7]:
test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

### coupling information

In [4]:
assert set(train.type) == set(test.type)

In [9]:
assert np.all(test.id == label.id)

In [10]:
test['scalar_coupling_constant'] = label.scalar_coupling_constant.values

In [11]:
coupling = train.append(test, ignore_index=True)

In [12]:
coupling.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [16]:
coupling = coupling.groupby(['molecule_name'])

In [ ]:
coupling_y = {}
for k,v in coupling:
    coupling_y[k] = v.scalar_coupling_constant.values.astype(np.float32)

In [ ]:
with open('../Data/coupling_y_'+stacking+'.pickle', 'wb') as handle:
    pickle.dump(coupling_y, handle, protocol=pickle.HIGHEST_PROTOCOL)